body,h2{
  font-family: Helvetica;
  font-weight: lighter;
}

h2{
  text-transform: uppercase;
  color: rgb(100, 100, 100);
  letter-spacing: 15px;
}

/* ==========================================================================
   INDEX
   ========================================================================== */

/* == LAYOUT == */
.sidebar{
  position: fixed;
  padding-top: 150px;
}

/* Logo */
.sidebar .logo img{
  max-width: 300px;
}

/* Redes */
.sidebar .redes{
  margin-top: 10px;
}
.sidebar .redes a{
  margin-left: 5px;
  color: grey;
}
.sidebar .redes a:hover{
  color: #7D0A0A;
}

/* Menu */
.sidebar .categorias, .sidebar .menu, .sidebar .categorias .dropdown-menu{
  text-transform: uppercase;
  color: rgb(150, 150, 150);
  letter-spacing: 3px;
  font-size: .8em;
}
.sidebar .categorias .dropdown-toggle{
  cursor: pointer;
  padding: 5px;
}
.sidebar .categorias .dropdown-toggle:hover{
  text-decoration: underline;
}
.sidebar .categorias .dropdown-toggle::after{
  content: "";
  display: none;
}
.sidebar .categorias .dropdown-menu{
  border: 0px;
  left: -10px !important;
}
.sidebar .menu{
  margin-top: 20px;
}
.sidebar .menu a{
  display: block;
  color: inherit;
  margin-bottom: 20px;
}

/* Descripción */
.description{
  margin-top: 50px;
  position: fixed;
  bottom: 10px;
  left: 35px;
  color grey;
  font-style: italic;
  opacity: 0.5;
  font-family: fantasy;
}

/* Gallery */
.grid{
  margin: 0 auto;
}
.grid-sizer,
.grid-item {
  width: 320px;
}

/* Media querys */
@media (max-width: 576px) {
  .sidebar, .description{
    position: static;
  }
  .sidebar{
    padding: 20px 0;
  }
}
